@import "assets/styles/abstracts/_variables.scss";

.clb-main {
	// padding-bottom: clamp(4em, 10vh, 12em);

	.section-details {
		// margin-top: clamp(4em, 10vh, 8em);
		margin-top: clamp(4em, 15vh, 12em);
		margin-bottom: clamp(4em, 15vh, 12em);

		h3 {
			font-weight: 600;
			font-size: 3rem;
		}

		p {
			max-width: 60%;
			margin-top: 4rem;
		}
	}

	.section-mobile-screenshots {
		margin-bottom: clamp(4em, 15vh, 12em);
		min-height: 780px;

		.mobile-device {
			// width: 400px;
		}
	}
}

@media (max-width: 576px) {
	.clb-main {
		.section-details {
			margin-bottom: clamp(4em, 6vh, 12em);

			p {
				max-width: unset;
			}
		}

		.section-mobile-screenshots {
			margin-bottom: clamp(4em, 10vh, 12em);
			min-height: 230px;

			.mobile-device {
				// width: 400px;
			}
		}
	}
}
