@import "assets/styles/abstracts/_variables.scss";

section.section-main {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-bottom: 15rem;

	h3 {
		font-size: 3rem;
		font-weight: 700;
	}

	.section-left {
		.skill-list {
			gap: 1.5rem;
		}
	}

	.section-right {
	}
}

@media (max-width: 576px) {
	section.section-main {
		margin-bottom: 10rem;
	}
}
