@import "./_variables.scss";

:root{
    --color-bg-gray : #{$bg-color-gray};
    --text-color-white : #{$white};
    --text-color-black : #{$text-color-black};
    --text-color-blue : #{$text-color-blue};

    --bg-color-black : #{$black};
    --bg-color-white : #{$white};
}